@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap');


* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'Jost';
    width: 100%;
    height: 1024px;
    background: linear-gradient(240.51deg, rgba(52, 138, 199, 0.93) -30.38%, rgba(7, 32, 44, 0.85) 114.23%);
}

.back-img {
    position: absolute;
}

a {
    text-decoration: none;
    color: #ffffff
}
a, button { 
    cursor: pointer;
}

/* header-start */

header {
    position: relative;
    display: flex;
    
}


.name {
    margin: 15px 29px;
    left: 29px;
    top: 1px;
    font-weight: 600;
    font-size: 64px;
    line-height: 92px;
    align-items: center;
    color: #ffffff;
}

.navigation{
    margin: 33px 23px 0 700px;
    display: flex;
    gap: 55px;
    font-style: normal;
    font-weight: 600;   
    font-size: 35px;
    line-height: 51px;
    display: flex;
    align-items: center;
}

/* header-end */

/* main-start */

.content {
    margin-top: 112px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.div_text {
    margin-left: 5%;
    width: 44vw;
}

.h1_text {
    align-items: center;
    padding-left: 30px;
    font-weight: 600;
    font-size: 150px;
    line-height: 101%;
}

.p_text {
    padding-top: 50px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 101%;
    align-items: center;
}

.button_buy {
    padding: 50px 30px; 
}

.button_buy button {
    font-family: 'Jost';
    border-radius: 40px;
    border: none;
    width: 246px;
    height: 66px;
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 101%;
}

.div_img {
    margin-right: 50px;
}

/* main end */

/* footer start */

.a_foot {
    margin-top: -100px;
    padding-left: 115px;
}

.a_sup {  
    position: relative;
    font-family: 'Jost';
    font-weight: 500;
    font-size: 32px;
    line-height: 101%;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}

/* footer end */